<ul>
  <li>
    <a href="https://www.facebook.com/laurilavanti/" target="_blank" rel="noopener noreferrer">
      <svg class="f">
        <use xlink:href="#icon-facebook"></use>
      </svg>
    </a>
  </li>
  <li>
    <a href="https://twitter.com/laurilavanti" target="_blank" rel="noopener noreferrer">
      <svg class="t">
        <use xlink:href="#icon-twitter"></use>
      </svg>
    </a>
  </li>
  <li>
    <a href="https://www.linkedin.com/in/lapanti/" target="_blank" rel="noopener noreferrer">
      <svg class="l">
        <use xlink:href="#icon-linkedin"></use>
      </svg>
    </a>
  </li>
</ul>
