<span>Seuraa Lauria:</span>
<ul>
  <li><a href="https://www.facebook.com/laurilavanti/" target="_blank" rel="nofollow noopener noreferrer" title="Facebookissa"><svg class="svg-icon facebook"><use xlink:href="#icon-facebook"></use></svg></a></li>
  <li><a href="https://twitter.com/laurilavanti" target="_blank" rel="nofollow noopener noreferrer" title="Twitterissä"><svg class="svg-icon twitter"><use xlink:href="#icon-twitter"></use></svg></a></li>
  <li><a href="/feed.xml" title="RSS syöte"><svg class="svg-icon rss"><use xlink:href="#icon-rss"></use></svg></a></li>
</ul>
