<svg>
  <use xlink:href="#logo"></use>
</svg>
<span>Seuraa Lauria:</span>
<ul>
  <li>
    <a href="https://www.facebook.com/laurilavanti/" target="_blank" rel="nofollow noopener noreferrer"
      title="Facebookissa">
      <svg class="b f">
        <use xlink:href="#icon-facebook"></use>
      </svg>
    </a>
  </li>
  <li>
    <a href="https://twitter.com/laurilavanti" target="_blank" rel="nofollow noopener noreferrer" title="Twitterissä">
      <svg class="b t">
        <use xlink:href="#icon-twitter"></use>
      </svg>
    </a>
  </li>
  <li>
    <a href="/feed.xml" title="RSS syöte">
      <svg class="b r">
        <use xlink:href="#icon-rss"></use>
      </svg>
    </a>
  </li>
</ul>
