<meta charset="utf-8">

<link href="/feed.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} syöte">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">

<script async defer data-domain="laurilavanti.fi" src="https://analytics.laurilavanti.fi/js/index.js"></script>

<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300;1,400&display=swap">
<!-- insert favicons. use https://realfavicongenerator.net/ -->
