{% capture styles %}
{% include styles.scss %}
{% endcapture %}

<meta charset="utf-8">

<link href="/feed.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} syöte">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

{% seo %}

<link rel="preload" href="../assets/fonts/Roboto-Regular.ttf">
<link rel="preload" href="../assets/fonts/Roboto-Bold.ttf">
<style>@font-face{font-family:"Roboto";src:url("../assets/fonts/Roboto-Regular.ttf");font-display:swap;}</style>
<style>@font-face{font-family:"Roboto";font-weight:700;src:url("../assets/fonts/Roboto-Bold.ttf");font-display:swap;}</style>
<style>{{ styles | scssify }}</style>

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#76b72a">
<meta name="msapplication-TileColor" content="#56504d">
<meta name="theme-color" content="#56504d">


