<header>
  <nav>
    <a href="{{ '/' | relative_url }}" {% if page.url=='/' %} class="g" {% endif %}><span>{{ site.masthead_title |
        default: site.title }}</span></a>
    <ul>
      {%- for link in site.data.navigation.main -%}
      <li>
        <a href="{{ link.url | relative_url }}" {% if page.url==link.url %} class="g" {% endif %} {% if link.description
          %} title="{{ link.description }}" {% endif %}>{{
          link.title }}</a>
      </li>
      {%- endfor -%}
    </ul>
  </nav>
</header>
