{% assign document = post | default: page %}
{% if document.read_time or document.show_date %}
  <aside class="page__meta">
    {% if document.show_date and document.date %}
      {% assign date = document.date %}
      <span>
        <svg class="svg-icon icon"><use xlink:href="#icon-calendar-alt"></use></svg>
        <time datetime="{{ date | date_to_xmlschema }}">{{ date | date: "%-d.%-m.%Y" }}</time>
      </span>
    {% endif %}

    {% if document.read_time %}
      {% assign words_per_minute = document.words_per_minute | default: site.words_per_minute | default: 200 %}
      {% assign words = document.content | strip_html | number_of_words %}

      <span>
        <svg class="svg-icon icon"><use xlink:href="#icon-clock"></use></svg>
        <span>
        {% if words < words_per_minute %}
          alle 1 min
        {% elsif words == words_per_minute %}
          1 min
        {% else %}
          {{ words | divided_by: words_per_minute }} min
        {% endif %}
      </span>
      </span>
    {% endif %}
  </aside>
{% endif %}
