{% assign document = post | default: page %}
{% if document.read_time or document.show_date %}
  <aside class="m">
    {% if document.show_date and document.date %}
      {% assign date = document.date %}
      <span>
        <svg class="b icon"><use xlink:href="#icon-calendar-alt"></use></svg>
        <time datetime="{{ date | date_to_xmlschema }}">{{ date | date: "%-d.%-m.%Y" }}</time>
      </span>
    {% endif %}

    {% if document.read_time %}
      {% assign words_per_minute = 200 %}
      {% assign words = document.content | strip_html | number_of_words %}

      <span>
        <svg class="b icon"><use xlink:href="#icon-clock"></use></svg>
        <span>
        {% if words < words_per_minute %}
          alle minuutti
        {% elsif words | divided_by: words_per_minute == 1 %}
          1 minuutti
        {% else %}
          {{ words | divided_by: words_per_minute }} minuuttia
        {% endif %}
      </span>
      </span>
    {% endif %}
  </aside>
{% endif %}
