{% if page.last_modified_at or page.date %}
  <aside class="page__date">
    <span>
      <svg class="svg-icon icon">
        <use xlink:href="#icon-calendar-alt"></use>
      </svg>
      <span>
        Päivitetty:
        {% if page.last_modified_at %}
          <time datetime="{{ page.last_modified_at | date: "%Y-%m-%d" }}">{{ page.last_modified_at | date: "%-d.%-m.%Y"  }}</time>
        {% elsif page.date %}
          <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%-d.%-m.%Y"  }}</time>
        {% endif %}
      </span>
    </span>
  </aside>
{% endif %}
