{% if page.header.image_description %}
{% assign image_description = page.header.image_description %}
{% else %}
{% assign image_description = page.title %}
{% endif %}

<picture>
  <source type="image/webp" sizes="100vw"
    srcset="{{ page.header.image }}-xxs.webp 315w, {{ page.header.image }}-xs.webp 406w, {{ page.header.image }}-s.webp 462w, {{ page.header.image }}-m.webp 749w, {{ page.header.image }}-l.webp 1008w, {{ page.header.image }}-xl.webp 1183w, {{ page.header.image }}-xxl.webp 1470w, {{ page.header.image }}-xxxl.webp 1806w" />
  <source type="image/jpg" sizes="100vw"
    srcset="{{ page.header.image }}-xxs.{{ page.header.image_ext }} 315w, {{ page.header.image }}-xs.{{ page.header.image_ext }} 406w, {{ page.header.image }}-s.{{ page.header.image_ext }} 462w, {{ page.header.image }}-m.{{ page.header.image_ext }} 749w, {{ page.header.image }}-l.{{ page.header.image_ext }} 1008w, {{ page.header.image }}-xl.{{ page.header.image_ext }} 1183w, {{ page.header.image }}-xxl.{{ page.header.image_ext }} 1470w, {{ page.header.image }}-xxxl.{{ page.header.image_ext }} 1806w" />
  <img class="h" height="135" width="315" alt="{{ image_description }}"
    src="{{ page.header.image }}-xxs.{{ page.header.image_ext }}"
    srcset="{{ page.header.image }}-xxs.{{ page.header.image_ext }} 315w, {{ page.header.image }}-xs.{{ page.header.image_ext }} 406w, {{ page.header.image }}-s.{{ page.header.image_ext }} 462w, {{ page.header.image }}-m.{{ page.header.image_ext }} 749w, {{ page.header.image }}-l.{{ page.header.image_ext }} 1008w, {{ page.header.image }}-xl.{{ page.header.image_ext }} 1183w, {{ page.header.image }}-xxl.{{ page.header.image_ext }} 1470w, {{ page.header.image }}-xxxl.{{ page.header.image_ext }} 1806w"
    sizes="(min-width: 1806px) 1806px, 100vw" />
</picture>
