html {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    height: 100%;

    // Sizes
    --base-x0-25: 0.25rem;
    --base-x0-5: 0.5rem;
    --base-x0-875: 0.875rem;
    --base-x1: 1rem;
    --base-x1-125: 1.125rem;
    --base-x1-25: 1.25rem;
    --base-x1-5: 1.5rem;
    --base-x2: 2rem;
    --base-x3: 3rem;
    --base-x4: 4rem;
    --base-x6: 6rem;
    --base-x8: 8rem;
    --base-x16: 16rem;

    --negative-x1: -1rem;

    // Colors
    --green: #76b72a;
    --forest-green: #045a1c;
    --dark-grey: #56504d;
    --light-grey: #e3e3e3;

    
    --link-color: #487F6D; // var(--green);
    --nav-link-color: #0C5A48; // var(--forest-green);
    --accent-color: #062D24; // var(--dark-grey);
    --secondary-bg-color: var(--green); // var(--dark-grey);
    
    --fb-color: #4267B2;
    --twitter-color: #1DA1F2;
    --linkedin-color: #0E76A8;
    --rss-color: #EE802F;

    // Misc
    --box-shadow: 0 1px 0 rgba(0, 0, 0, .2);

    body {
        margin: 0;
        padding: 0;
        display: grid;
        grid:   "header" var(--base-x4)
                " main " 1fr
                "footer" var(--base-x8)
                / 1fr;
        row-gap: var(--base-x1);
        min-height: 100%;

        a {
            text-decoration: none;
            color: var(--link-color);
            &:hover,
            &:active {
                text-decoration: underline;
            }
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin: 0;
            padding: 0;
            font-weight: 700;
            color: var(--accent-color);
        }
        
        h1 {
            font-size: var(--base-x1-5);
            line-Height: var(--base-x2);
        }
        h2 {
            font-size: var(--base-x1-125);
            line-Height: var(--base-x1-5);
        }
        h3 {
            font-size: var(--base-x1);
            line-Height: var(--base-x1-25);
        }

        figure {
            padding: 0;
            margin: 0;
        }

        p {
            font-size: var(--base-x0-875);
            line-height: var(--base-x1-25);
        }

        span,
        figcaption,
        a {
            font-size: var(--base-x0-875);
            line-height: var(--base-x1);
        }

        strong {
            font-weight: 700;
        }

        .a {
            position: absolute;
            width: 0;
            height: 0;
            overflow: hidden;
        }

        .b {
            display: inline-block;
            height: var(--base-x1);
            width: var(--base-x1);
            fill: currentColor;
        }

        .f {
            fill: var(--fb-color);
        }

        .t {
            fill: var(--twitter-color);
        }

        .l {
            fill: var(--linkedin-color);
        }

        .r {
            fill: var(--rss-color);
        }

        .m,
        .s {
            display: flex;
            flex-direction: row;

            > :not(:last-child) {
                margin-right: var(--base-x1);
            }

            > * {
                display: flex;
                flex-direction: row;
                align-items: center;

                > :not(:last-child) {
                    margin-right: var(--base-x0-5);
                }
            }
        }

        .s {
            margin-top: var(--base-x1);
        }


        > header {
            grid-area: header;
            display: flex;
            flex-direction: column;
            justify-content: center;
            box-shadow: var(--box-shadow);
            max-width: 1820px;
            width: 100%;
            margin: 0 auto;
            
            nav {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                margin: 0 var(--base-x1);


                > a {
                    font-size: var(--base-x1-125);
                    line-Height: var(--base-x1-5);
                    font-weight: 600;
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    svg {
                        display: none;
                        @media screen and (min-width: 400px) {
                            display: inline;
                            height: var(--base-x1-25);
                            width: var(--base-x1-25);
                            margin-right: var(--base-x0-25);
                        }
                    }

                    span {
                        font-size: var(--base-x1-25);
                        line-Height: var(--base-x1-5);
                        margin-right: var(--base-x1);
                    }
                }

                a,
                a:visited,
                a:link {
                    color: var(--nav-link-color);
                }

                a {
                    font-size: var(--base-x1-125);
                    &:active,
                    &:hover {
                        color: var(--accent-color);
                    }
                }

                a.g {
                    text-decoration: underline;
                }

                ul {
                    padding: 0;
                    margin: 0;
                    list-style-type: none;
                    display: flex;
                    flex-direction: row;

                    li:not(:last-of-type) {
                        margin-right: var(--base-x0-5);
                    }
                }
            }
        }

        main {
            > * {
            grid-area: main;
            display: grid;
            grid: 1fr / 1fr var(--base-x0-5) min(60ch, calc(100% - var(--base-x1))) var(--base-x0-5) 1fr;

            @media screen and (min-width: 700px) {
                grid: 1fr / 1fr var(--base-x1) min(60ch, calc(100% - var(--base-x2))) var(--base-x1) 1fr;
            }

            @media screen and (min-width: 750px) {
                grid: 1fr / 1fr var(--base-x2) min(60ch, calc(100% - var(--base-x6))) var(--base-x2) 1fr;
            }

                > * {
                    grid-column: 3;
                }

                img,
                figure, picture {
                    width: 100%;
                    height: auto;
                    grid-column: 1 / -1;
                    display: flex;

                    &.h {
                        margin-top: var(--negative-x1);
                        object-fit: contain;
                        max-width: 1820px;
                        width: 100%;
                        margin-left: auto;
                        margin-right: auto;
                    }

                    .d {
                        object-fit: cover;
                        height: var(--base-x6);
                    }
                }

                figure {
                    margin: var(--base-x1) 0;
                    display: inherit;

                    figcaption {
                        margin-top: var(--base-x0-5);
                        font-style: italic;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        width: 100%;
                    }
                }

                h1 {
                    dl {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;

                        dt {
                            align-self: flex-start;
                        }

                        dd {
                            margin: 0;
                            padding: 0;
                        }
                    }

                    &.c {
                        margin: var(--base-x1) 0 var(--base-x0-25) 0;
                    }
                }
            }

            aside.n {
                position: absolute;
                margin: var(--base-x2) var(--base-x1);
                right: 0;
                img {
                    object-fit: contain;
                    height: var(--base-x8);
                }
            }

            aside.e {

                > h2 {
                    box-shadow: var(--box-shadow);
                    margin-top: var(--base-x2);
                    margin-bottom: var(--base-x1);
                }

                      
                    
                a > h2 {
                    text-decoration: none;
                    color: var(--link-color);
                    font-size: var(--base-x0-875);
                    line-height: var(--base-x1);
                    margin: var(--base-x0-5) 0;

                    &:hover,
                    &:active {
                        text-decoration: underline;
                    }
                }
            }
        }

        footer {
            grid-area: footer;
            background-color: var(--forest-green);
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;

            ul {
                list-style-type: none;
                padding: 0;
                margin: var(--base-x0-5) 0 0 0;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;

                li {
                    padding: var(--base-x1);

                    svg {
                        height: var(--base-x2);
                        width: var(--base-x2);
                    }

                    svg:not(:hover) {
                        fill: var(--light-grey);
                    }
                }
            }
        }
    }
}
