---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$serif: "Roboto";
$sans-serif: "Roboto";
$link-color: hsl(166, 76, 25);
$masthead-link-color: hsl(166, 76, 20);
$body-color: hsl(166, 76, 10);

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
