---
layout: archive
image: /assets/images/lauri-lavanti-l.jpg
---

<article>
  <img class="h" height="180" width="320" alt="Pyöräilyn harjoittelua tyttäreni kanssa" src="/assets/images/pyoraily-harjoituksia-s.jpg" srcset="/assets/images/pyoraily-harjoituksia-s.jpg 320w, /assets/images/pyoraily-harjoituksia-m.jpg 640w, /assets/images/pyoraily-harjoituksia-l.jpg 1024w, /assets/images/pyoraily-harjoituksia-xl.jpg 1600w" sizes="100vw" />
  <aside class="n">
    <img height="90" width="63" alt="ehdokas numero 32" src="/assets/images/ehdokasnumero-32.png" />
  </aside>
    
  <h1>
      <dl>
          <dt>Lauri Lavanti</dt>
          <dd>Isä</dd>
          <dd>Kuntavaaliehdokas</dd>
          <dd>Kirkkonummelainen</dd>
          <dd>Ohjelmistokehittäjä</dd>
          <dd>Diplomi-insinööri</dd>
      </dl>
  </h1>
</article>

<aside class="e">
  <h2>Viimeisimmät kirjoitukset</h2>

  {% for post in site.posts limit:3 %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</aside>
