---
layout: archive
image: /assets/images/pyoraily-harjoituksia-xxs.jpg
---

<article>
  <picture>
    <source type="image/webp"
      srcset="/assets/images/pyoraily-harjoituksia-xxs.webp 315w, /assets/images/pyoraily-harjoituksia-xs.webp 406w, /assets/images/pyoraily-harjoituksia-s.webp 462w, /assets/images/pyoraily-harjoituksia-m.webp 749w, /assets/images/pyoraily-harjoituksia-l.webp 1008w, /assets/images/pyoraily-harjoituksia-xl.webp 1183w, /assets/images/pyoraily-harjoituksia-xxl.webp 1470w, /assets/images/pyoraily-harjoituksia-xxxl.webp 1806w" />
    <source type="image/jpg"
      srcset="/assets/images/pyoraily-harjoituksia-xxs.jpg 315w, /assets/images/pyoraily-harjoituksia-xs.jpg 406w, /assets/images/pyoraily-harjoituksia-s.jpg 462w, /assets/images/pyoraily-harjoituksia-m.jpg 749w, /assets/images/pyoraily-harjoituksia-l.jpg 1008w, /assets/images/pyoraily-harjoituksia-xl.jpg 1183w, /assets/images/pyoraily-harjoituksia-xxl.jpg 1470w, /assets/images/pyoraily-harjoituksia-xxxl.jpg 1806w" />
    <img class="h" height="135" width="315" alt="Pyöräilyn harjoittelua tyttäreni kanssa"
      src="/assets/images/pyoraily-harjoituksia-xxs.jpg"
      srcset="/assets/images/pyoraily-harjoituksia-xxs.jpg 315w, /assets/images/pyoraily-harjoituksia-xs.jpg 406w, /assets/images/pyoraily-harjoituksia-s.jpg 462w, /assets/images/pyoraily-harjoituksia-m.jpg 749w, /assets/images/pyoraily-harjoituksia-l.jpg 1008w, /assets/images/pyoraily-harjoituksia-xl.jpg 1183w, /assets/images/pyoraily-harjoituksia-xxl.jpg 1470w, /assets/images/pyoraily-harjoituksia-xxxl.jpg 1806w"
      sizes="100vw" />
  </picture>
  <h1>
    <dl>
      <dt>Lauri Lavanti</dt>
      <dd>Isä</dd>
      <dd>Kirkkonummelainen</dd>
      <dd>Ohjelmistokehittäjä</dd>
      <dd>Diplomi-insinööri</dd>
    </dl>
  </h1>
</article>

<aside class="e">
  <h2>Viimeisimmät kirjoitukset</h2>

  {% for post in site.posts limit:3 %}
  {% include archive-single.html type=entries_layout %}
  {% endfor %}
</aside>
