---
layout: archive
---

<article>
  <img class="h" alt="Pulkkaretkellä" src="/assets/images/pulkkaretkella-l.jpg" srcset="/assets/images/pulkkaretkella-s.jpg 320w, /assets/images/pulkkaretkella-m.jpg 640w, /assets/images/pulkkaretkella-l.jpg 1024w, /assets/images/pulkkaretkella-xl.jpg 1600w" sizes="100vw" />

  <h1>
      <dl>
          <dt>Lauri Lavanti</dt>
          <dd>Isä</dd>
          <dd>Kuntavaaliehdokas</dd>
          <dd>Kirkkonummelainen</dd>
          <dd>Ohjelmistokehittäjä</dd>
          <dd>Diplomi-insinööri</dd>
      </dl>
  </h1>
</article>

<aside class="e">
  <h2>Viimeisimmät kirjoitukset</h2>

  {% for post in site.posts limit:3 %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</aside>
